@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap");

* {
  font-family: Poppins;
}
.text-purple {
  color: #4d4bac;
}

.text-orange {
  color: #fd808b;
}
.smaller {
  font-size: 12px;
}
.smaller-text {
  font-size: 8px;
}
.bold {
  font-weight: 500;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-purple-secondary {
  background: #e7ecfc;
}
.main-bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d6dae5;
}

.dashboard-body {
  width: 1200px;
  height: 768px;
  background: #fff;
  border-radius: 25px;
}

.middle-section {
  height: 768px;
  background: #f6f5fb;
}

.latest-results {
  border-radius: 10px;
  background: #fff;
  padding: 0.5rem;
}

.latest-result {
  padding: 0.5rem;
}

.learning-time-period {
  background: #fff;
  padding: 1rem;
  height: 100%;
  border-radius: 10px;
}

.progress-bar-custom {
  width: 100px;
  height: 5px;
  background: #d8d8d8;
  max-width: 100px;
  margin-right: 1rem;
}

.progress-bar-custom .progress-bar {
  background: #fd808b;
}

.progress-bar-custom-smaller {
  width: 100px;
  height: 3px;
  background: #d8d8d8;
  max-width: 100px;
  margin-right: 1rem;
}

.progress-bar-custom-smaller .progress-bar-smaller {
  background: #5b84f4;
}

.search-bar {
  width: 40px;
  height: 40px;
  background: #e7ecfc;
  border-radius: 10px;
  color: #5b84f4;
}

.custom-separator {
  width: 100%;
  height: 1px;
  background: #dbdbdb;
  border-radius: 100px;
  margin-top: 1rem;
}

.time-progress-bars {
  width: 200px;
  height: 5px;
  background: #d8d8d8;
}

.vocabulary {
  background: #fd808b;
}
.listening {
  background: #5b84f4;
}

.each-day {
  transform: rotate(90deg);
  margin: 1rem 0.5rem;
  width: 50px;
  height: 8px;
}

.rot-90 {
  width: 180px;
  height: 153px;
  transform: rotate(-90deg);
  margin: -14px;
}

.course-box {
  border-radius: 20px;
  height: 100px;
  width: 100%;
  background: #fd808b;
  padding: 1rem;
}

.course-text {
  flex-grow: 1;
  margin: 0 0.5rem;
}

.class-box {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.212);
}

.legend {
  margin-top: 70px;
}

.legend .vocab.rounded-circle {
  width: 10px;
  height: 10px;
  background: #fd808b;
}

.legend .gramm.rounded-circle {
  width: 10px;
  height: 10px;
  background: #53509f;
}

.legend .listen.rounded-circle {
  width: 10px;
  height: 10px;
  background: #6681f6;
}

.legend .write.rounded-circle {
  width: 10px;
  height: 10px;
  background: rgb(107, 107, 107);
}

.smallest {
  font-size: 10px;
}


.routes{
  margin-top: 100px;
}

.accent{
  width: 2px;
  height: 15px;
  background: #6681f6;
  border-radius: 100px;
}

.ad{
  margin-top: 25px;
}

.upgrade{
  background: #5C82F3;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}